body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    max-width: 1000px;
    line-height: 1.6;
  }
  
  h1 {
    color: #333;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  .output-container {
    background-color: #1e1e1e;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px;
    max-height: 500px;
    width: 95%; /* Cubre casi todo el ancho */
    overflow-y: auto;
    white-space: pre-wrap;
  }
  
  pre {
    margin: 0;
  }
  
  code {
    display: block;
    font-family: "Fira Code", monospace;
    color: #f8f8f2;
  }
  
  /* Firma */
.signature {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  .signature .profile-pic {
    width: 40px; /* Tamaño de la imagen */
    height: 40px;
    border-radius: 50%; /* Hacer la imagen redonda */
    margin-right: 10px; /* Espaciado entre la imagen y el texto */
  }
  
  .signature .name {
    font-weight: bold;
  }
  